*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif;
}
nav{
    background-color: orange;
    width: 100%;
    height: 100px;
    display: list-item;
    position: relative;
   margin: 50px 0;
}
ul{
    
    display: flex;
    text-align: center;
    
}
nav ul{
padding: 0;
margin: 0;
list-style: none;
position: relative;
}
nav ul li {
    display: inline-block;
    background-color: black;
}
nav a{
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    margin: 20px;
}
nav a:hover{
    background-color: black;
    width: 170px;
    height: 60px;
}
nav ul ul{
    display: none;
    position: absolute;
    top: 60px; 
}
nav ul li :hover> ul{
    display: inherit;
    visibility: visible;
}
nav ul ul li{
    width: 170px;
    
    display: list-item;
    position: relative;
}
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

.main{
width: 100%;
height: 300px;

color: white;
display: flex;
justify-content: center;
}
.main-inner{
text-align: center;
margin: 100px;
}
p{
    margin-top:50px;
}
