body{
    background-color: rgb(229, 200, 255);
}
table{
margin: 10px;
border-collapse: collapse;
border: 2px rgb(0, 0, 0);

}
tr{
    background: rgb(237,184,236);
    background: linear-gradient(90deg, rgba(237,184,236,1) 0%, rgba(56,56,219,1) 35%, rgba(0,212,255,1) 100%);

}
td:hover{
    background: rgb(67,240,18);
    background: linear-gradient(90deg, rgba(67,240,18,1) 0%, rgba(53,237,217,1) 35%, rgba(242,31,12,1) 100%);
}
td{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  table:slidein {
    from {
      margin-left: 1%;
      width: 3%;
    }
  
    to {
      margin-left: 0%;
      width: 4%;

    }
}
    
  